menu "Buzzer controller"

    choice DAC_CHANNEL
        bool "DAC Channel Num"
        default DAC_CHANNEL_1
        help
            Select DAC channel used by the wave generator.

        config DAC_CHANNEL_1
            bool "DAC Channel 1 (GPIO25)"
        config DAC_CHANNEL_2
            bool "DAC Channel 2 (GPIO26)"
    endchoice

    config DAC_CHANNEL
        int
        default 0 if DAC_CHANNEL_1
        default 1 if DAC_CHANNEL_2

    choice WAVEFORM
        bool "Waveform"
        default WAVEFORM_SINE
        help
            Select waveform
        config WAVEFORM_SINE
            bool "Sine selected"
        config WAVEFORM_TRIANGLE
            bool "Triangle selected"
        config WAVEFORM_SAWTOOTH
            bool "Sawtooth selected"
        config WAVEFORM_SQUARE
            bool "Square selected"
    endchoice

    config LOG_VOLTAGE
        bool "Enable output voltage log"
        default n
        help
            If enabled, the output voltage(in mV) will show in log.

endmenu
