menu "HTTP controller"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "BuzzerController"
        help
            SSID (network name)

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "password"
        help
            WiFi password (WPA or WPA2), password has to be larger then 8 characters

    config ESP_WIFI_PORT
        int "WiFi port"
        range 1 10000
        default 3500
        help 
            Port on which to acces the frequency changer

    config ESP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel)

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the connected clients to acces point

    config HTTPD_MAX_REQ_HDR_LEN
        int "Max HTTP Request Header Length"
        default 512
        help
            This sets the maximum supported size of headers section in HTTP request packet to be processed by the server

    config HTTPD_MAX_URI_LEN
        int "Max HTTP URI Length"
        default 512
        help
            This sets the maximum supported size of HTTP request URI to be processed by the server
endmenu
